<!-- modal crear -->
<div [ngClass]="{'d-block': showModal, 'd-none': !showModal}" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <h2 class="col-12 modal-title">
            Crear nueva categoría
          </h2>
        </div>
      </div>
      <form #catForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="modal-body">
          <div class="form-group row">
            <label class="col-12 col-form-label mt-2">Introduzca el nombre de la categoría:</label>
            <div class="col-12">
              <input required [(ngModel)]="cat.name" name="name" type="text" class="form-control" #name="ngModel">
              <div *ngIf="name.invalid && name.touched" class="text-danger">
                El nombre es requerido.
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="hiddeModal()" type="submit" class="col-auto btn btn-success" [disabled]="catForm.invalid">
            Crear categoría
          </button>
          <button (click)="hiddeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- modal update -->
<div id="modalUpdate">
  <div [ngClass]="{'d-block': showModalUpdate, 'd-none': !showModalUpdate}" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="row">
            <h2 class="col-12 modal-title">
              Actualiza los siguientes campos para <u>{{ idCatAux }}</u>:
            </h2>
          </div>
        </div>
        <form>
          <div class="modal-body">
            <div class="form-group row">
              <label class="col-12 col-form-label mt-2">Actualiza el nombre de la categoría:</label>
              <div class="col-12">
                <input [(ngModel)]="cat.name" name="name" type="text" class="form-control" #name="ngModel">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button (click)="updateCategory(idCatAux)" type="button" class="btn btn-primary">Actualizar</button>
            <button (click)="hiddeModalUpdate()" type="button" class="btn btn-secondary"
              data-dismiss="modal">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-auto m-2">
    <button mat-raised-button (click)="showFormModal()" class="btn-add bg-dark text-light">
      <div class="row mt-2">
        <div class="col-10 p-0">
          Añadir categoría
        </div>
        <div class="col-2 p-0">
          <span class="material-symbols-outlined">
            add
          </span>
        </div>
      </div>
    </button>
  </div>

  <div *ngIf="categoryList.length > 0; else categoryListEmpty" class="col-12 mt-4">
    <p>Lista de categorías:</p>
    <div *ngFor="let cat of categoryList">
      <div [ngClass]="{'isEpic': cat.name === 'EPIC'}" class="card-item p-0 mb-2 bg-light border rounded shadow">
        <div class="row m-2">
          <div class="col-10">
            <h3>{{cat.id}} - {{cat.name}}</h3>
          </div>
          <div class="col-2" [ngClass]="{'d-none': cat.name === 'EPIC'}">
            <div class="row justify-content-end">
              <button (click)="deleteCategory(cat.id)" class="btn bg-danger text-light col-5 m-1">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </button>
              <button (click)="showFormModalUpdate(cat.id, cat.name)" class="btn bg-primary text-light col-5 m-1">
                <span class="material-symbols-outlined">
                  edit
                </span>
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>

  <ng-template #categoryListEmpty>
    <div class="col-12 mt-4 text-center">
      <p>No hay categorías disponibles.</p>
    </div>
  </ng-template>
</div>
