<!-- boton en card -->
<button
  (click)="showFormModal(task?.id)"
  class="top-0 end-0 btn btn-danger p-2">
  <span class="material-symbols-outlined">
    delete
  </span>
</button>

<!-- modal -->
<div [ngClass]="{'d-block': showModal, 'd-none': !showModal}" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row">
          <h2 class="col-12 modal-title">
            Estas seguro de que quieres borrar "{{currentTask?.name}}"
          </h2>
          <h3>id: {{currentTask?.id}}</h3>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">

        </div>
      </div>

      <div class="modal-footer">
        <button (click)="removePermanent()" type="button" class="btn btn-danger">Si</button>
        <button (click)="hiddeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
